@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");
:root {
  --maize-crayola: #e8c547;
  --jet: #30323d;
  --independence: #4d5061;
  --glaucous: #5c80bc;
  --timberwolf: #cdd1c4;
  --white: #ffffff;
}
body {
  font-family: "Nunito", serif;
  color: var(--independence);
  margin: 0;
}
a {
  color: var(--maize-crayola);
  padding-bottom: 2px;
}
.btn-blue {
  border: solid 2px var(--glaucous);
  border-radius: 5px;
  padding: 5px 2px;
  text-decoration: none;
  background-color: var(--glaucous);
  color: var(--white);
  font-weight: 700;
}
.btn-white {
  border: solid 2px var(--glaucous);
  border-radius: 5px;
  padding: 5px 2px;
  text-decoration: none;
  color: var(--glaucous);
  font-weight: 700;
}
.submit-btn {
  border: solid 2px var(--glaucous);
  border-radius: 5px;
  padding: 5px 2px;
  text-decoration: none;
  background-color: var(--glaucous);
  color: var(--white);
  font-weight: 700;
  display: block;
  width: 80%;
  margin: 15px auto;
  text-align: center;
}

.main-navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  box-sizing: border-box;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 50px;
  /* border-bottom: 1px solid var(--timberwolf); */
}
.main-navbar__logo {
  margin-right: auto;
  /* Extra: to-be-removed */
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  color: var(--glaucous);
  /* Extra: to-be-removed */
}
.main-navbar__search {
  margin: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 700px;
  display: none;
}
.main-navbar__search-search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--white);
}
.main-navbar__search-filter {
  margin: 0 5px;
  padding: 3px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--glaucous);
  color: var(--white);
  border: solid 1px var(--independence);
  border-radius: 5px;
  position: relative;
}
.main-navbar__search-filter-text {
  margin-left: 4px;
}
#hideAndShowSearch {
  display: none;
}
.rooms-near-me {
  display: block;
  margin-top: 20px;
  color: var(--white);
}
.rooms-near-me-icon {
  margin-right: 5px;
}
/* ---pop-up-filter--- */
.pop-up-filter {
  position: absolute;
  transform: translateY(63%);
  width: 700px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--timberwolf);
  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.5);
  display: none;
  text-align: left;
}
.pop-up-filter-filter {
  flex: 0 0 50%;
  border-right: solid 1px var(--timberwolf);
  padding: 10px;
  box-sizing: border-box;
}
.pop-up-filter-title {
  margin: 10px 0;
  display: block;
}
.pop-up-filter-price {
  display: flex;
}
.pop-up-filter-price-input {
  width: 100%;
  margin-right: 10px;
}
.pop-up-filter-sort {
  flex: 0 0 50%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.main-navbar__search-icon {
  padding: 10px;
  color: var(--independence);
}
.main-navbar__search-input {
  flex: 1;
  padding: 10px 0;
  border: none;
  width: 100%;
  background-color: transparent;
}
.main-navbar__search-input::placeholder {
  color: var(--independence);
}
.main-navbar__search-button {
  border: none;
  border-left: 1px solid var(--jet);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--glaucous);
  color: var(--white);
  padding: 0 20px;
}
.main-navbar__link {
  margin: 10px;
}
.resize-icon-22 {
  font-size: 22px;
}

@media screen and (max-width: 900px) {
  .main-navbar {
    justify-content: space-between;
    padding: 15px;
  }
  .main-navbar__logo {
    font-size: 20px;
    margin-right: auto;
  }
  .main-navbar__search {
    margin-top: 15px;
    order: 2;
    flex: 100%;
  }
  .main-navbar__link {
    margin: 5px;
  }
  .pop-up-filter {
    /* width: 335px; */
    font-size: 13px;
  }
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  box-sizing: border-box;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 50px;
  /* border-bottom: 1px solid var(--timberwolf); */
}
.navbar__logo {
  margin-right: auto;
  /* Extra: to-be-removed */
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 900;
  text-decoration: none;
  /* Extra: to-be-removed */
}
.navbar__search {
  margin: auto;
  text-decoration: none;
  display: flex;
  align-items: center;
  width: 700px;
  display: none;
}
.navbar__search-search {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-radius: 5px;
  overflow: hidden;
  background-color: var(--white);
}
.navbar__search-filter {
  margin: 0 5px;
  padding: 3px;
  align-self: stretch;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--glaucous);
  color: var(--white);
  border: solid 1px var(--independence);
  border-radius: 5px;
  position: relative;
}
.navbar__search-filter-text {
  margin-left: 4px;
}
#hideAndShowSearch {
  display: none;
}
.rooms-near-me {
  display: block;
  margin-top: 20px;
  font-size: 20px;
  text-decoration: none;
}
.rooms-near-me-icon {
  margin-right: 5px;
}
/* ---pop-up-filter--- */
.pop-up-filter {
  position: absolute;
  transform: translateY(63%);
  width: 700px;
  height: 200px;
  border-radius: 10px;
  background-color: var(--white);

  display: none;
}

.navbar__search-icon {
  padding: 10px;
  color: var(--independence);
}
.navbar__search-input {
  flex: 1;
  padding: 10px 0;
  border: none;
  width: 100%;
  background-color: transparent;
}
.navbar__search-input::placeholder {
  color: var(--independence);
}
.navbar__search-button {
  border: none;
  border-left: 1px solid var(--jet);
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--glaucous);
  color: var(--white);
  padding: 0 20px;
}
.navbar__link {
  margin: 10px;
}
.resize-icon-22 {
  font-size: 22px;
}

@media screen and (max-width: 900px) {
  .navbar {
    justify-content: space-between;
    padding: 15px;
  }
  .navbar__logo {
    font-size: 20px;
    margin-right: auto;
  }
  .navbar__search {
    margin-top: 15px;
    order: 2;
    flex: 100%;
  }
  .navbar__link {
    margin: 5px;
  }
  .pop-up-filter {
    width: 335px;
  }
}

/* --- homepage --- */
.homepage-first-section {
  /* background-color: var(--maize-crayola); */
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.7)
    ),
    url("./image/front_background.jpg");
  background-size: cover;
  background-position: bottom;
  text-align: center;
}
.homepage-main-message {
  padding: 100px 200px;
  color: var(--white);
}
.homepage-main-message-text {
  font-size: 60px;
  font-weight: 300;
}
.homepage-main-message-para {
  font-size: 20px;
  line-height: 28px;
  font-weight: 100;
}
.homepage-main-message-search {
  display: flex;
  width: 500px;
  margin: auto;
}
@media screen and (max-width: 900px) {
  .homepage-first-section {
    background-position: bottom;
    text-align: unset;
  }
  .homepage-main-message {
    padding: 100px 20px;
  }
  .homepage-main-message-text {
    font-size: 34px;
  }
  .homepage-main-message-para {
    font-size: 16px;
    line-height: 24px;
    font-weight: 100;
  }
  .homepage-main-message-search {
    display: flex;
    width: 100%;
  }
}

/* ----homepage-cities--- */
.homepage-cities {
  padding: 50px 20px;
}
.homepage-cities-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.light-heading {
  margin: 0;
  font-size: 30px;
  font-weight: 200;
  padding: 10px;
}
.homepage-cities-city {
  flex: 0 0 20%;
  height: 150px;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.homepage-cities-city-image {
  width: 60%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
}
.homepage-cities-city-text {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
.homepage-cities-city-image-img {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 900px) {
  .homepage-cities {
    padding: 50px 10px;
  }
  .light-heading {
    font-size: 24px;
  }
  .homepage-cities-city {
    flex: 0 0 35%;
    margin: 10px;
  }
  .homepage-cities-city-image {
    width: 100%;
    height: 70%;
  }
}

/* ----homepage-suited-for---- */
.homepage-suited-for {
  padding: 50px 20px;
  background-color: black;
  color: var(--white);
}
.homepage-suited-for-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.homepage-suited-for-item {
  flex: 0 0 20%;
  height: 400px;
  margin: 10px;
}
.homepage-suited-for-item-image {
  height: 80%;
  width: 100%;
  background-color: #fff;
  overflow: hidden;
}
.homepage-suited-for-item-image-img {
  width: 100%;
}
.homepage-suited-for-item-text {
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  .homepage-suited-for-item {
    flex: 0 0 40%;
    height: 350px;
  }
}
@media screen and (max-width: 600px) {
  .homepage-suited-for-item {
    flex: 0 0 100%;
  }
}

/* ------homepage-call-to-action--- */
.homepage-call-to-action {
  padding: 100px 50px;
  background-color: var(--maize-crayola);
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.homepage-call-to-action-text {
  flex: 0 0 40%;
  font-size: 34px;
  font-weight: 300;
}
.homepage-call-to-action-btn {
  text-decoration: none;
  border: solid 1px var(--glaucous);
  margin: 20px;
  padding: 10px 15px;
  color: var(--white);
  background-color: var(--glaucous);
}
@media screen and (max-width: 600px) {
  .homepage-call-to-action {
    padding: 50px;
  }
  .homepage-call-to-action-text {
    flex: 0 0 100%;
    text-align: center;
    font-size: 30px;
  }
}

/* --- ProductsOnHompage ----  */
.homepage-products {
  padding: 50px 20px;
}
.homepage-products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.homepage-products-item {
  flex: 0 0 250px;
  height: 300px;
  margin: 10px;
}
.homepage-products-item-image {
  height: 250px;
  width: 100%;
  overflow: hidden;
}
.homepage-products-item-image-img {
  width: 100%;
}
.homepage-products-item-text-location {
  margin-left: 5px;
}

/* ---footer--- */
.footer {
  background-color: var(--timberwolf);
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links {
  display: flex;
  width: 100px;
  justify-content: space-between;
  align-items: center;
}

/* ---login--- */
.login {
  width: 320px;
  margin: 50px auto;
  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.5);
  height: 500px;
}
.login-heading {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .login {
    width: 100%;
    box-shadow: none;
    height: auto;
  }
}
/* ---sign-up--- */
.sign-up {
  width: 320px;
  margin: 30px auto;
  box-shadow: 0 1px 4px rgb(0, 0, 0, 0.5);
  height: 700px;
}
.sign-up-heading {
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .sign-up {
    width: 100%;
    box-shadow: none;
    height: auto;
  }
}
/* -----reusable-input----- */
.reusable-text-input {
  width: 80%;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  background-color: transparent;
}
.reusable-text-input-input {
  flex: 1;
  border: none;
  background-color: transparent;
  align-self: stretch;
  padding: 10px;
}
.reusable-text-input-icon {
  padding: 10px;
}
.reusable-text-input-note {
  width: 80%;
  display: block;
  margin: auto;
  font-size: 10px;
}
.reusable-text-input-label {
  width: 80%;
  display: block;
  margin: auto;
  font-size: 15px;
}
.reusable-text-input-error {
  width: 80%;
  display: block;
  margin: auto;
  font-size: 10px;
  color: red;
}
.forget-password {
  width: 80%;
  margin: auto;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
}
.sign-up-agreement {
  width: 80%;
  margin: auto;
  padding: 10px;
  text-align: center;
  font-size: 13px;
}
.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 135px);
  font-size: 34px;
}
